<!-- snippets/product-recently-viewed.liquid -->

<div class="container mb-5">
  <div class="row text-center">
    <div class="col-12">
      <h3>Recently viewed products</h3>
    </div>
  </div>
  <div class="row" id="recently-viewed-products"></div>  
</div>