<form class="search-form" action="/search" method="get" role="search">
   <button class="search-btn" type="submit">{% render 'icon-search' %}</button>
   <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}">
 </form>