<div class="island_paradise_page_main_new">
  <div class="island_paradise_page_inner_new">
    <div class="island_paradise_page_title_new">
      {{ page.title }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Island Paradise Page",
	"class": "island_paradise_page_new",
    "settings": [

	]
  }
{% endschema %}