<div class="the_safari_classics_page_main_new">
  <div class="the_safari_classics_page_inner_new">
    <div class="the_safari_classics_page_title_new">
      {{ page.title }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "The Safari Classics Page",
	"class": "the_safari_classics_page_new",
    "settings": [

	]
  }
{% endschema %}