<div class="wild_garden_page_main_new">
  <div class="wild_garden_page_inner_new">
    <div class="wild_garden_page_title_new">
      {{ page.title }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Wild Garden Page New",
	"class": "wild_garden_page_new",
    "settings": [

	]
  }
{% endschema %}