{{ page.content }}
<div class="faq_section">
{% section 'faq-page' %}
</div>
<style>
  .faq_section{padding:75px 0 140px;}
    .yotpo-description,
    .yotpo-widget-hero-section .yotpo-customer-logged-out-buttons .yotpo-action-button-text,
    .yotpo-reward-steps-description .yotpo-inner-text,
    .yotpo-coupons-redemption-widget .yotpo-description,
    .yotpo-coupons-redemption-widget .yotpo-redemption-option-cost,
    .yotpo-coupons-redemption-widget .yotpo-login-button .yopto-widget-button-text,
    .yotpo-vip-tier-benefit-text,
    .yotpo-description-text,
    .yotpo-widget-referral-widget .yotpo-input-container .yotpo-input,
    .yotpo-widget-referral-widget .yotpo-header-text,
    .yotpo-widget-hero-section .yotpo-customer-logged-out-buttons .yotpo-action-button-widget .yotpo-button-standard-size span,
    .yotpo-coupons-redemption-widget .yotpo-login-button .yotpo-action-button-widget .yotpo-button-standard-size span,
    .yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-standard-size span {
        font-family: neue-haas-grotesk-display,sans-serif !important;
    }
    .yotpo-widget-hero-section .yotpo-customer-logged-out-buttons .yotpo-action-button-widget .yotpo-button-standard-size,
    .yotpo-coupons-redemption-widget .yotpo-login-button .yotpo-action-button-widget .yotpo-button-standard-size,
    .yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-standard-size {
        text-align: center !important;
        text-transform: uppercase !important;
        padding: 15px 30px !important;
        border-radius: 0 !important;
        width: max-content !important;
        max-width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        height: auto !important;
        background: #986473 !important;
        color: #fff !important;
        border: 0px !important;
        min-width: 150px !important;
    }
    .yotpo-widget-hero-section .yotpo-customer-logged-out-buttons .yotpo-action-button-widget .yotpo-button-standard-size span,
    .yotpo-coupons-redemption-widget .yotpo-login-button .yotpo-action-button-widget .yotpo-button-standard-size span,
    .yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-standard-size span {
        font-size: 12px !important;
        line-height: 12px !important;
        letter-spacing: .19em !important;
    } .yotpo-widget-hero-section .yotpo-customer-logged-out-buttons  .yotpo-login-link .yotpo-action-button-widget .yotpo-button-standard-size {
        background-color: #fffef9 !important; 
        color: #986473 !important;
        border: 0px !important;
    }
</style>